<!DOCTYPE html>
<html>
  
  <head>
    <title><%= title %> - 小遊戲</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <%- include('header',{user:user}) %>
    
    
  
    
  </body>

  
   
</html>
