<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <%- include('header',{user:user}) %>
    
  </body>

  <script>
    const searchParams = new URLSearchParams(window.location.search);
    if(searchParams.get('msg')){
      alert('<%= pop %>');
    }
  </script>
   
</html>
