<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <%- include('header',{user:user}) %>
    <br/><br/><h2 style="display:none" id="deleteText">你的帳戶已被刪除</h2>
    
  </body>

  <script>
    const searchParams = new URLSearchParams(window.location.search);

    if(searchParams.get('delete')=="true"){
      document.getElementById('deleteText').style.display = "initial";
    }
  </script>
   
</html>
