<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <video autoplay muted loop id="myVideo">
      <source src="/media/river.mp4" type="video/mp4">
    </video>
    <audio autoplay>
      <source src="/media/music.m4a" type="audio/mp4">
    Your browser does not support the audio element.
    </audio> 
    <div class="content">
      <h1><%= title %></h1>

      <%- include('header',{user:user}) %>
    </div>
  </body>

  <script>
    const searchParams = new URLSearchParams(window.location.search);
    if(searchParams.get('msg')){
      alert('<%= pop %>');
    }
  </script>
   
</html>
