<!DOCTYPE html>
<html>
  <head>
    <title>學習網站 - 查看所有課程</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>學習網站</h1>
    你好，<%= user.username %>。 <a href="/moneyTickets/view">查看現金卷</a> <a href="/moneyTickets/new">輸入現金卷</a> <a href="/users">個人資料</a> <a href="/logout">登出</a>
    
    <table>
      <tr><th>Tickets code</th><th>Money</th></tr>
      <% moneyTickets.forEach(moneyTicket=> { %>
        <tr><td><%= moneyTicket.code %></td><td><%= moneyTicket.money %></td></tr>
      <% }); %>
    </table>
  </body>
</html>
