<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> - 更改密碼</title>
    <link rel='stylesheet' href='/stylesheets/userView.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/backgroundImage.css' />
  </head>
  <body>
    <div class="content">
      <h1><%= title %></h1>

      <%- include('header') %>
      <form action="/users/edit/password" method="post">
        <div class="container">
          <h1>更改密碼</h1>
          <hr>
      
          <label for="email"><b>原始密碼</b></label>
          <input type="password" name="password_o" required>
      
          <label for="username"><b>新密碼</b></label>
          <input type="password" name="password_new" required>

          <label for="username"><b>再輸入新密碼</b></label>
          <input type="password" name="password_new2" required>

          <button type="submit" class="registerbtn">更改密碼</button>

          <button type="button" class="registerbtn" style="background-color:blue" onclick="window.location.href='/users'">回到上一頁</button>
        
        </div>
      
      </form>
      <% if (messages) { %>
        <section class="messages">
          <% messages.forEach(function(message) { %>
            <p><b><%= message %></b></p>
          <% }); %>
        </section>
      <% } %>
    </div>
  </body>
</html>