<!DOCTYPE html>
<html>
  <head>
    <title>學習網站</title>
    <link rel='stylesheet' href='/stylesheets/userView.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>學習網站</h1>

    <div id="student" style="display:none">你好，<%= user.username %>。 <a href="/courses?">瀏覽所有課程</a> <a href="/courses/paid">瀏覽已付費課程</a> <a href="/users">個人資料</a> <a href="/moneyTickets/insert">輸入現金卷</a> <a href="/logout">登出</a></div>
    <div id="teacher" style="display:none">你好，<%= user.username %>。 <a href="/courses/myCourses">管理課程</a> <a href="/users">個人資料</a> <a href="/logout">登出</a></div>
    <div id="admin" style="display:none">你好，<%= user.username %>。 <a href="/moneyTickets/view">查看現金卷</a> <a href="/moneyTickets/new">輸入現金卷</a> <a href="/users">個人資料</a> <a href="/logout">登出</a></div>
    <p style="display:none" id="checkLogin" type="<%= user.type %>"></p>
    <form action="/users/edit/password" method="post">
      <div class="container">
        <h1>個人資料</h1>
        <hr>
    
        <label for="email"><b>原始密碼</b></label>
        <input type="password" name="password_o" required>
    
        <label for="username"><b>新密碼</b></label>
        <input type="password" name="password_new" required>

        <label for="username"><b>再輸入新密碼</b></label>
        <input type="password" name="password_new2" required>

        <button type="submit" class="registerbtn">更改密碼</button>

        <button type="button" class="registerbtn" style="background-color:blue" onclick="window.location.href='/users'">回到上一頁</button>
      
      </div>
    
    </form>
    <label for="uname" style="display:none" id="errorTrue"><b>更改密碼失敗，請重新輸入。</b></label>
    <label for="uname" style="display:none" id="errorFalse"><b>更改密碼成功！</b></label>
  </body>

  <script>
    const searchParams = new URLSearchParams(window.location.search);
    if(searchParams.get('error')=="true"){
        document.getElementById('errorTrue').style.display = "initial";
    }
    else if(searchParams.get('error')=="false"){
        document.getElementById('errorFalse').style.display = "initial";
    }

    let checkLogin = document.getElementById('checkLogin');
    if(checkLogin.getAttribute("type")=="student"){
      document.getElementById('student').style.display = "initial";
    } else if (checkLogin.getAttribute("type")=="teacher") {
      document.getElementById('teacher').style.display = "initial";
    } else if (checkLogin.getAttribute("type")=="admin"){
      document.getElementById('admin').style.display = "initial";
    }
  </script>
   
</html>
