<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> - 更改密碼</title>
    <link rel='stylesheet' href='/stylesheets/userView.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <%- include('header',{user:user}) %>
    <form action="/users/edit/password" method="post">
      <div class="container">
        <h1>個人資料</h1>
        <hr>
    
        <label for="email"><b>原始密碼</b></label>
        <input type="password" name="password_o" required>
    
        <label for="username"><b>新密碼</b></label>
        <input type="password" name="password_new" required>

        <label for="username"><b>再輸入新密碼</b></label>
        <input type="password" name="password_new2" required>

        <button type="submit" class="registerbtn">更改密碼</button>

        <button type="button" class="registerbtn" style="background-color:blue" onclick="window.location.href='/users'">回到上一頁</button>
      
      </div>
    
    </form>
    <label for="uname" style="display:none" id="errorTrue"><b>更改密碼失敗，請重新輸入。</b></label>
    <label for="uname" style="display:none" id="errorFalse"><b>更改密碼成功！</b></label>
  </body>

  <script>
    const searchParams = new URLSearchParams(window.location.search);
    if(searchParams.get('error')=="true"){
        document.getElementById('errorTrue').style.display = "initial";
    }
    else if(searchParams.get('error')=="false"){
        document.getElementById('errorFalse').style.display = "initial";
    }
  </script>
   
</html>
